<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.xjm.springboot.mybatis.demo.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.xjm.springboot.mybatis.demo.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="springboot-mybatis-demo" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="springboot-mybatis-demo">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.xjm.springboot.mybatis.demo.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.xjm.springboot.mybatis.demo.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.xjm.springboot.mybatis.demo.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.xjm.springboot.mybatis.demo.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="scott:bonus">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Bonus" />
                  <option name="moduleName" value="springboot-mybatis-demo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="scott:dept">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="deptno" />
                  <option name="javaModelName" value="Dept" />
                  <option name="moduleName" value="springboot-mybatis-demo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="scott:emp">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="empno" />
                  <option name="javaModelName" value="Emp" />
                  <option name="moduleName" value="springboot-mybatis-demo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="scott:salgrade">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Salgrade" />
                  <option name="moduleName" value="springboot-mybatis-demo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="test:goods">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Goods" />
                  <option name="moduleName" value="springboot-mybatis-demo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>